*{margin:0; padding: 0;}
body { padding: 20px;}
h2 { padding: 18px 0 10px;}
pre { border: 1px solid #ccc; background-color: #eee; padding: 10px; margin: 0.5em 0;}
p { border: 1px solid #090; border-left-width: 5px; background-color: #eee; padding: 10px;}












